*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron{
    background-color: blueviolet;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    height: 100vh;
    margin: 0px auto;
    max-width: 1700px;
}

.grid-container{
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    border: 2px solid blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: aqua;
    height: 100px;
}

.box-color{
    transform: scale(0.9);
    background-color: yellow;
}